---
import { getCollection } from "astro:content";
import GitHubLayout from "../layouts/GitHubLayout.astro";

const files = await getCollection("markdown");
---
<GitHubLayout>
    <h2>Files:</h2>
    {files &&
        <ul>
          {files.map(file => <li><a href={`/md/${file.slug}/`}>{file.slug}</a></li>)}
        </ul>
    }
</GitHubLayout>
